<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/configuration.xsd">
    <default>
        <wishlist>
            <general>
                <items_limit>3</items_limit>
            </general>
        </wishlist>
    </default>
</config>
